<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.navigation.extras.locator" name="%extension-point.name" schema="schema/de.navigation.extras.locatableElement.exsd"/>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description"
            id="de.navigation.extras.handler.category"
            name="%category.name">
      </category>
      <command
            categoryId="de.navigation.extras.handler.category"
            description="%command.description"
            id="de.navigation.extras.handler.locate"
            name="%command.name">
      </command>
      <command
            categoryId="de.navigation.extras.handler.category"
            description="%command.description.0"
            id="de.navigation.extras.handler.copy"
            name="%command.name.0">
      </command>
      <command
            categoryId="de.navigation.extras.handler.category"
            description="%command.description.1"
            id="de.navigation.extras.handler.console"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.navigation.extras.handler.LocateElementHandler"
            commandId="de.navigation.extras.handler.locate">
      </handler>
      <handler
            class="de.navigation.extras.handler.CopyToClipboardHandler"
            commandId="de.navigation.extras.handler.copy">
      </handler>
      <handler
            class="de.navigation.extras.handler.OpenShellHandler"
            commandId="de.navigation.extras.handler.console">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icons/extras.gif"
               id="de.eclipse.navigation.extras.menu"
               label="Navigation Extras"
               mnemonic="N">
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:de.eclipse.navigation.extras.menu?before=additions">
         <command
               commandId="de.navigation.extras.handler.locate"
               icon="icons/locate_obj.gif"
               style="push"
               tooltip="%command.description">
         <visibleWhen>
            <reference
                  definitionId="de.navigation.extras.definition.isopenable">
            </reference>
        </visibleWhen>
         </command>
         <command
               commandId="de.navigation.extras.handler.copy"
               icon="icons/clipboard_obj.gif"
               style="push"
               tooltip="%command0.description">
            <visibleWhen>
               <reference
                     definitionId="de.navigation.extras.definition.isopenable">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.navigation.extras.handler.console"
               icon="icons/console_obj.png"
               style="push"
               tooltip="%command1.description">
            <visibleWhen>
               <reference
                     definitionId="de.navigation.extras.definition.isshellopenable">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.navigation.extras.definition.isopenable">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <test
                     forcePluginActivation="true"
                     property="de.navigation.extras.locatableElement.locatable">
               </test>
            </iterate>
         </and>
      </definition>
      <definition
            id="de.navigation.extras.definition.isshellopenable">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <test
                     forcePluginActivation="true"
                     property="de.navigation.extras.locatableElement.shellOpenable">
               </test>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.navigation.extras.testers.LocatableElementTester"
            id="de.navigation.extras.locatableElement.locatable"
            namespace="de.navigation.extras.locatableElement"
            properties="locatable"
            type="org.eclipse.core.runtime.PlatformObject">
      </propertyTester>
      <propertyTester
            class="de.navigation.extras.testers.ShellOpenableElementTester"
            id="de.navigation.extras.locatableElement.shellOpenable"
            namespace="de.navigation.extras.locatableElement"
            properties="shellOpenable"
            type="org.eclipse.core.runtime.PlatformObject">
      </propertyTester>
   </extension>
   <extension
         point="de.navigation.extras.locator">
      <Locator
            Locator="de.navigation.extras.locators.IResourceLocator"
            Name="IResource Locator"
            Type="org.eclipse.core.resources.IResource">
      </Locator>
      <Locator
            Locator="de.navigation.extras.locators.IJavaElementLocator"
            Name="IJavaElement Locator"
            Type="org.eclipse.jdt.core.IJavaElement">
      </Locator>
   </extension>

</plugin>
